.video {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 15px 10px;
  margin-bottom: 0.2rem;
  box-shadow: 3px 3px 5px 0px lightgray;
  cursor: pointer;
  transition: all 300ms ease;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 40%;
}

.metadata {
  margin-left: 0.5em;
}

.title,
.channel {
  margin: 0;
  /* font-size: 0.8rem; */
}

.channel {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
