.container {
  padding: 0.2em;
  /* flex-wrap: wrap; */
}

.container.grid {
  width: 50%;
}

.container.list {
  width: 100%;
}

.video {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* padding: 15px 10px; */
  box-shadow: 3px 3px 5px 0px lightgray;
  cursor: pointer;
  transition: all 300ms ease;
}

.video:hover {
  transform: scale(1.02);
  background-color: lightskyblue;
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.metadata {
  margin-left: 0.5em;
}

.title,
.channel {
  margin: 0;
}

.channel {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

@media screen and (max-width: 48rem) {
  .container {
    display: flex;
    min-width: 100%;
  }

  .video {
    width: 100%;
  }
}
