.app {
  max-width: 80rem;
}

.header {
  min-width: 80rem;
}

.loading {
  display: flex;
  justify-content: center;
}

.loadingImg {
  width: 70%;
}

.content {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}
